.input-group{
    margin-bottom: 20px;
}
button {
    margin-top: 20px;
    margin-right: 20px;
}
.card {
    margin-top: 20px;
}
div.content {
  white-space: pre-wrap;
  word-break: keep-all;
}

.spinner {
  border: 6px solid #666;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

footer {
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(91, 255, 213);
  text-align: center;
}